<main class="p-5">
    <section>
        <div>
            <button class="test1">Click me</button>
            <p>
            <h3>Test nemo similique expedita facere doloribus nulla, ipsa Test nemo 00000 3/4 similique expedita facere
                doloribus
                nulla, ipsa Test nemo similique expedita facere doloribus nulla, ipsa</h3>
            </p>
            <input class="ret" type="checkbox" name="Test">
        </div>
    </section>

    {{!-- <div class="card p-5">
        <p>
            Hello world
        </p>
    </div> --}}


    {{!-- <section class="card mt-5" style="height: 500px;">
        <div>
            <h2 id="tabsize">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim quos
                assumenda
                ut, nemo similique expedita facere doloribus nulla, ipsa fuga ad amet qui? Rem exercitationem laudantium
                reprehenderit alias magnam?</h2>
        </div>
    </section> --}}
    <div>Test1</div>
    <div>Test2</div>
    <div class="tre">
        <span>Lorem ipsum dolor sit</span>
        <span>Lorem ipsum dolor sit</span>
        <span>Lorem ipsum dolor sit</span>
        <span class="block">Lorem ipsum dolor sit</span>
    </div>
    <div>Test3</div>

</main>