{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <section class="p-5">
    <h1 style="color: yellow" id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <p>This is text</p>
    <button type="button" class="btn btn-primary">Купити</button>
</section> --}}

{{!-- <section class="p-5">
    <h1 style="color: yellow" id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <em>12345678</em>
    <p>This is text</p>
    <button type="button" class="btn btn-primary">Купити</button>
</section> --}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}



    {{!-- <div class="p-5">
        <ul>
            <li>1234</li>
            <li class="test">123</li>
            <li class="test">123</li>
        </ul>

        <div>
            <b class="item">First</b>
            <p class="item">333</p>
            <p class="item">444</p>
            <b class="item">555</b>
            <b class="item">555</b>
            <b class="item">555</b>
            <p class="item">444</p>
            <p class="item">444</p>
            <b class="item">555</b>
            <p class="item">444</p>
        </div>
    </div> --}}


    {{!--
    <div class="card p-5 m-5 card-dark">
        <input class="input-dark" name="" id="">
    </div>

    <div class="card p-5 m-5 card-dark">
        <img class="img-card" src="https://picsum.photos/800/600" height="200px" alt="some card with image">
    </div>

    <div>
        <button class="sdfsdgtr1sfsdfsdf">Нажми на меня</button>
    </div>

    <div>
        <p class="big-t"></p>
    </div> --}}



    <div class="card p-4 m-5 card-dark">
        <a class="test2" href="#">Click</a>
    </div>

    <div class="card p-4 m-5 card-dark">
        <input>
    </div>

    <div class="card p-4 m-5 card-dark">
        Test
    </div>

    <div id="test" class="card p-4 m-5 card-dark">
        Якір
    </div>

    <div class="p-2 m-5">
        <button class="btn">Test-1</button>
        <button class="btn">Test-2</button>
        <button class="btn" disabled>Test-3</button>
        <input class="inp mt-4">
    </div>

    <div class="m-5 p-5">
        <div>
            <input class="valid" type="email">
            <span>Test Text1</span><br>
        </div>
        <div>
            <input type="checkbox" checked>
            <span>Test Text2</span><br>
        </div>
        <div>
            <input type="checkbox">
            <span>Test Text3</span>
        </div>
    </div>

    <div class="m-5 p-5">
        <input type="number" min="10" max="20" class="qwe">
    </div>