{{#each articles}}
<div class="articles_list">
    <img class="list_image" src="{{photo}}" alt="image">
    <h3 class="list_name" id="{{id}}">{{name}}</h3>
    <p class="list_details">{{description}}</p>
    <a href="#">
        <span class="list_button">Read All</span>
    </a>
</div>
{{/each}}